*{
    padding: 0;
    margin: 0;
}

#game{
   width: 320px; 
   height: 240px;
   border: 1px solid black;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 190px;
}
#block{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 170px;
    left: 300px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 300px;}
    100%{left: -20px;}
}
@keyframes jump{
    0%{top: 190px}
    50%{top: 100px}
    100%{top: 190px}
}
.animate{
    animation: jump 500ms;
}