html {
  height: 100%;
  width: 100%;

  scrollbar-color: lightblue white;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: lightblue;
  border-radius: 5px;
}

body {
  overflow-x: hidden;
}

.blank {
  height: 2rem;
}

#background {
  width: 100vw;
  height: 100vh;

  margin: 0;

  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.copyright {
  text-align: center;
  padding-bottom: 3px;
}

section,
.container,
.copyright {
  font-family: 'Roboto Mono', Menlo, monospace;
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 72px;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 16px;
}

.photo-and-name {
  align-items: center;
  margin-bottom: 16px;
  text-align: center;
}

.photo-and-name>img {
  height: 180px;
  width: 180px;
  object-fit: cover;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid lightgrey;
}

section>p>a {
  margin: 5px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

i {
  color: black;
  font-size: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  margin-bottom: 2rem;
}

.container>h1 {
  padding-left: 2rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

.container>img {
  margin-top: 1rem;

  width: 100%;
  border-radius: 8px;
  border: 1px solid lightgrey;
}

.container>p,
audio {
  padding-left: 2rem;
  margin-top: 1rem;
}

.container>.post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.container>.post-container>div {
  margin: 0.5rem;
  padding: 15px;
  text-align: justify;
  border-radius: 8px;
  border: 1px solid lightgrey;

  position: relative;
  background-color: white;
}

.container>.post-container>img {
  width: 100%;
  border-radius: 8px;
}

@media only screen and (max-width: 450px) {
  .container>.post-container {
    display: block;
  }

  .container>h1 {
    padding-left: 0rem;
    text-align: center;
  }
}

@media only screen and (max-width: 815px) {
  #projects {
    /* display: flex; */
    /* justify-content: center; */
    display: block;
    text-align: center;
  }

  #projects>* {
    margin: 2px;
  }
}

.container>.post-container>div>h2 {
  margin-top: 0;
}

.container>.post-container>div>div:has(#pic-1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.container>.post-container>div>#imgs>img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid lightgrey;
  margin-bottom: 3px;
}

.container>.post-container>div>#reactions {
  display: flex;

  position: absolute;
  bottom: 10px;
}

.container>.post-container>div>#reactions>p {
  font-size: 25px;
  margin: 0;
}

.container>.post-container>div>#reactions>img {
  width: 25px;
  height: 25px;
  margin: 0;
  margin-top: 6px;
}

.book {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.book>div>img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid lightgrey;
}

.book>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book>div {
  text-align: left;
}

/* Piano */

#piano {
  width: 90%;
  margin: auto;
  padding-left: 20px;
  height: 200px;
}

.key {
  height: 100px;
  width: auto;
  width: calc(14.2857142857% - 10px);
  float: left;
  border: 5px solid black;
  border-right: none;
  background: white;
  text-align: center;
  padding-top: 100px;
  user-select: none;
}

#B {
  border-right: 5px solid black;
}