html {
  height: 100%;
  width: 100%;
}

section,
.container {
  font-family: 'Roboto Mono', Menlo, monospace;
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 72px;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 16px;
}

.photo-and-name {
  align-items: center;
  margin-bottom: 16px;
  text-align: center;
}

.photo-and-name>img {
  height: 180px;
  width: 180px;
  object-fit: cover;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid lightgrey;
}

section>p>a {
  margin: 5px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

i {
  color: black;
  font-size: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  margin-bottom: 2rem;
}

.container>h1 {
  padding-left: 2rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

.container>#post-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.container>#post-container>div {
  margin: 1.5rem;
  padding: 15px;
  text-align: justify;
  border-radius: 8px;
  border: 1px solid lightgrey;

  position: relative;
}

@media only screen and (max-width: 450px) {
  .container>#post-container {
    display:block;
  }
  .container>h1 {
    padding-left: 0rem;
    text-align: center;
  }
}

.container>#post-container>div>h2 {
  margin-top: 0;
}

.container>#post-container>div>div:has(#pic-1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.container>#post-container>div>#imgs>img {
  width: 100%;
  border-radius: 8px;
  border: 1px solid lightgrey;
  margin-bottom: 3px;
}

.container>#post-container>div>#reactions {
  display: flex;

  position: absolute;
  bottom: 10px;
}

.container>#post-container>div>#reactions>p {
  font-size: 25px;
  margin: 0;
}

.container>#post-container>div>#reactions>img {
  width: 25px;
  height: 25px;
  margin: 0;
  margin-top: 6px;
}